<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.galaxyproject.sampletracker"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".GalaxyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/settings_title"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.settings.ApiKeyFetchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/api_key_title"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.scan.ScanActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.specimen.SpecimenDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/glb_loading"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.specimen.SpecimenDerivativeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/specimen_title_derivative"
            android:parentActivityName=".ui.specimen.SpecimenDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.specimen.SpecimenDetailActivity" />
        </activity>
        <activity
            android:name=".ui.picker.StatePickerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/specimen_state_title"
            android:parentActivityName=".ui.specimen.SpecimenDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.specimen.SpecimenDetailActivity" />
        </activity>
        <activity
            android:name=".ui.picker.TypePickerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/specimen_type_title"
            android:parentActivityName=".ui.specimen.SpecimenDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.specimen.SpecimenDetailActivity" />
        </activity>
        <activity
            android:name=".ui.picker.LocationPickerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/specimen_location_title"
            android:parentActivityName=".ui.specimen.SpecimenDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.specimen.SpecimenDetailActivity" />
        </activity>
        <activity
            android:name=".ui.picker.ParticipantRelationshipPickerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/specimen_participant_relationship_title"
            android:parentActivityName=".ui.specimen.SpecimenDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.specimen.SpecimenDetailActivity" />
        </activity>
    </application>

</manifest>
